{% extends "business/index.html" %}

{% load static %}

{% block page-title %} Blank Page  {% endblock page-title %}

{% block breadcrumb %}

            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <li><i class="fa fa-bars"></i>Pages</li>
              <li><i class="fa fa-square-o"></i>Pages</li>
            </ol>

{% endblock breadcrumb %}
        <!-- page start-->
{% block business-content %}

          Page content goes here

{% endblock business-content %}
        <!-- page end-->

    <!--main content end-->

