{% extends "business/index.html" %}

{% load static %}

{% block page-title %}
<i class="icon_piechart"></i> CHART
{% endblock page-title %}

{% block breadcrumb %}

  <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                <li><i class="icon_piechart"></i>Chart {{ my_data }}</li>

              </ol>

{% endblock breadcrumb %}


{% block business-content %}

          <div class="row">
            <!-- chart morris start -->
            <div class="col-lg-12">
              <section class="panel">
                <header class="panel-heading">
                    <h3>General Chart</h3>
                      </header>
                      <div class="panel-body">
                        <div class="tab-pane" id="chartjs">
                      <div class="row">
                          <!-- Line -->
                          <div class="col-lg-6">
                              <section class="panel">
                                  <header class="panel-heading">
                                      Line
                                  </header>
                                  <div class="panel-body text-center">
                                      <canvas id="line" height="300" width="450"></canvas>
                                  </div>
                              </section>
                          </div>
                          <!-- Bar -->
                          <div class="col-lg-6">
                              <section class="panel">
                                  <header class="panel-heading">
                                      Bar
                                  </header>
                                  <div class="panel-body text-center">
                                      <canvas id="bar" height="300" width="500"></canvas>
                                  </div>
                              </section>
                          </div>
                      </div>
                      <div class="row">
                          <!-- Radar -->
                          <div class="col-lg-6">
                              <section class="panel">
                                  <header class="panel-heading">
                                      Radar
                                  </header>
                                  <div class="panel-body text-center">
                                      <canvas id="radar" height="300" width="400"></canvas>
                                  </div>
                              </section>
                          </div>
                          <!-- Polar Area -->
                          <div class="col-lg-6">
                              <section class="panel">
                                  <header class="panel-heading">
                                      Polar Area
                                  </header>
                                  <div class="panel-body text-center">
                                      <canvas id="polarArea" height="300" width="400"></canvas>
                                  </div>
                              </section>
                          </div>
                      </div>
                      <div class="row">

                          <!-- Pie -->
                          <div class="col-lg-6">
                              <section class="panel">
                                  <header class="panel-heading">
                                      Pie
                                  </header>
                                  <div class="panel-body text-center">
                                      <canvas id="pie" height="300" width="400"></canvas>
                                  </div>
                              </section>
                          </div>
                          <!-- Doughnut -->
                          <div class="col-lg-6">
                              <section class="panel">
                                  <header class="panel-heading">
                                      Doughnut
                                  </header>
                                  <div class="panel-body text-center">
                                      <canvas id="doughnut" height="300" width="400"></canvas>
                                  </div>
                              </section>
                          </div>
                      </div>
                  </div>
                      </div>

                    </section>
              </div>
          </div>
              <!-- chart morris start -->


{% endblock business-content %}
      <!--main content end-->


    <!-- container section end -->


 {% block javascript %}
<script>

    $(document).ready(function() {
    <!--alert();-->
    <!--alert( "{{ my_data}}");-->

    data = JSON.parse(('{{my_data}}').replace(/&quot;/g,'"'));
    console.log( data);

    <!--alert(data['a']);-->
    <!--alert(data['b']);-->


//        var d = {{ my_data|safe }};

<!--//        console.log("{{my_data}}");-->

        <!--function(my_data){-->
            <!--data = JSON.parse(my_data);-->
            <!--if (data["data"]) {-->
                <!--alert(data["data"]);-->
            <!--}-->
        <!--}-->

<!--var data = jQuery.parseJSON('{{my_data}}');-->
 <!--console.log(data);-->


    var doughnutData = [
        {
            value: 30,
            color:"#F7464A"
        },
        {
            value : 50,
            color : "#46BFBD"
        },
        {
            value : 100,
            color : "#FDB45C"
        },
        {
            value : 40,
            color : "#949FB1"
        },
        {
            value : 120,
            color : "#4D5360"
        }

    ];
    new Chart(document.getElementById("doughnut").getContext("2d")).Doughnut(doughnutData);

    });


</script>
    <!-- chartjs -->
    <script src="{% static 'business/assets/chart-master/Chart.js' %}"></script>
    <!-- custom chart script for this page only-->
    <script src="{% static 'business/js/chartjs-custom.js' %}"></script>


{% endblock javascript %}