{% extends "business/index.html" %}

{% load static %}

{% block page-title %} Dashboard  {% endblock page-title %}

{% block breadcrumb %}
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <li><i class="icon_document_alt"></i>Forms</li>
              <li><i class="fa fa-file-text-o"></i>Sales Order</li>
            </ol>
{% endblock breadcrumb %}


{% block business-content %}

<div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                Add New Order
              </header>
              <div class="panel-body">
                <form class="form-horizontal " method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="control-label col-lg-2">
                            Order Status
                        </label>
                        <div class="col-lg-10">{{ form.order_status}}

                            <!--<select class="form-control m-bot15">-->
                                                  <!--<option>Option 1</option>-->
                                                  <!--<option>Option 2</option>-->
                                                  <!--<option>Option 3</option>-->
                            <!--</select>-->
                        </div>
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <label class="control-label col-lg-2">
                            Client Type
                        </label>
                        <div class="col-lg-10">{{ form.client_type}}

                            <!--<select class="form-control m-bot15">-->
                                                  <!--<option>Option 1</option>-->
                                                  <!--<option>Option 2</option>-->
                                                  <!--<option>Option 3</option>-->
                            <!--</select>-->
                        </div>
                    <!--</div>-->

                        <!--<label class="control-label col-lg-2">-->
                            <!--Reseller/Customer-->
                        <!--</label>-->
                        <!--<div class="col-lg-10">-->
                            <!--<input type="radio" name="sellto" id="reseller"-->
                                   <!--class="form-control1" value="reseller" checked> Reseller<br>-->
                            <!--<input type="radio" name="sellto" id="customer"-->
                                   <!--class="form-control1" value="customer"> Customer<br>-->
                        <!--</div>-->


                    <!--<div class="form-group">-->
                        <div class="control-label col-lg-2 r">
                        <label id="i_reseller" class="control-label">
                            Reseller
                        </label>
                            </div>
                        <div class="col-lg-10 r">
                            {{ form.reseller }}
                        </div>
                         <div class="control-label col-lg-2 c">
                        <label id="i_customer" class="control-label">
                            Customer
                        </label> </div>
                        <div class="col-lg-10 c">
                            {{ form.customer }}
                        </div>
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <label class="control-label col-lg-2">
                            Item Type
                        </label>
                        <div class="col-lg-10">{{ form.type }}

                            <!--<select class="form-control m-bot15">-->
                                                  <!--<option>Option 1</option>-->
                                                  <!--<option>Option 2</option>-->
                                                  <!--<option>Option 3</option>-->
                            <!--</select>-->
                        </div>

                        <label class="col-sm-2 control-label">Quantity</label>
                        <div class="col-sm-10"> {{ form.qty}}
                          <!--<input type="number" class="form-control m-bot15">-->
                        </div>

                        <label class="control-label col-sm-2">Booking Date</label>
                        <div class="col-sm-10">
                            {{ form.booking_date }}
                        </div>

{% if form.booking_date.errors %}
    <ol>
    {% for error in form.booking_date.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
                        <label class="col-sm-2 control-label">Buying Price</label>
                        <div class="col-sm-10"> {{ form.cost_price}}
                          <!--<input type="number" class="form-control m-bot15">-->
                        </div>

                        <label class="col-sm-2 control-label">Selling Price</label>
                        <div class="col-sm-10"> {{ form.selling_price }}
                          <!--<input type="number" class="form-control m-bot15">-->
                        </div>

                         <label class="col-sm-2 control-label">Dealer</label>
                        <div class="col-lg-10"> {{ form.dealer }}

                            <!--<select class="form-control m-bot15">-->
                                                  <!--<option>Option 1</option>-->
                                                  <!--<option>Option 2</option>-->
                                                  <!--<option>Option 3</option>-->
                            <!--</select>-->
                        </div>

                        <label class="col-sm-2 control-label">Tracking ID</label>
                        <div class="col-sm-10"> {{ form.tracking_id }}
                          <!--<input type="number" class="form-control m-bot15">-->
                        </div>



                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Save Order</button>
                        </div>


                    </div>


                </form>

              </div>
            </section>
          </div>
</div>

{% endblock business-content %}


{% block javascript %}
<script>
    $(document).ready(function() {
     <!--$('input[type="radio"]').click(function(){-->
      <!--if($(this).attr('id') == 'reseller') {-->
            <!--$('.c').hide();-->
            <!--$('.r').show();-->
            <!--&lt;!&ndash;$('#id_reseller').show();&ndash;&gt;-->
            <!--&lt;!&ndash;$('#i_reseller').show();&ndash;&gt;-->
            <!--&lt;!&ndash;$('#id_customer').hide();&ndash;&gt;-->
            <!--&lt;!&ndash;$('#i_customer').hide();&ndash;&gt;-->
       <!--}-->

       <!--else {-->
            <!--$('.r').hide();-->
            <!--$('.c').show();-->
            <!--&lt;!&ndash;$('#id_reseller').hide();&ndash;&gt;-->
            <!--&lt;!&ndash;$('#i_reseller').hide();&ndash;&gt;-->
            <!--&lt;!&ndash;$('#id_customer').show();&ndash;&gt;-->
            <!--&lt;!&ndash;$('#i_customer').show();&ndash;&gt;-->
       <!--}-->
         <!--&lt;!&ndash;sellto = document.getElementByName('r1').value;&ndash;&gt;-->
     <!--});-->

    });

     $('#id_client_type').change(function() {
       type = $(this).val();
       if (type == 1){
            $('.c').show();
            $('.r').hide();
       }
       else{
            $('.r').show();
            $('.c').hide();
       }
    });

</script>

{% endblock javascript %}