{% extends "business/index.html" %}

{% load static %}

{% block page-title %} ORDER LIST  {% endblock page-title %}

{% block breadcrumb %}

<ol class="breadcrumb" xmlns="http://www.w3.org/1999/html">
              <li><i class="fa fa-home"></i>
                <a href="index.html">Home</a></li>
              <li><i class="fa fa-laptop"></i>Orders</li>
            </ol>

{% endblock breadcrumb %}


{% block business-content %}


<div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                  <div style="float:left;padding-right: 30px;">
                      <p>Total<span style="color:red"> {{ all_orders.count }}</span> Orders in:</p>
                  </div>
                  <div style="overflow:hidden;">
                      <form class="form-inline" method="GET" action="">
                          <div class="form-group">
                              <input type="month" class="form-control" id="date"  name="ordermonth">
                          </div>
                          <div class="form-group">
                              <input type="submit" class="btn btn-primary" value="Show">
                          </div>
                      </form>
                  </div>
              </header>
                                    {% if all_orders %}

              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#Sl.No.</th>
                      <!--<th>Date</th>-->
                      <th>Booking Date</th>
                      <th>Reseller</th>
                      <th>Customer</th>
                      <th>Type</th>
                      <th>Qty</th>
                      <!--<th>Buying Price</th>-->
                      <th>Selling Price</th>
                      <th>Profit</th>
                      <th>Dealer</th>
                      <th>Tracking ID</th>
                      <th>Order Status</th>
                      <!--<th>Last Modified</th>-->
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>

                  <tbody>
                  {% for order in all_orders %}
              <tr>
                <td>
                    <a href="{% url 'accounts:so_detail' order.id %}">
                    {{ forloop.counter }}
                    </a>
                </td>
                <!--<td>{{order.created}}</td>-->
                <td>{{ order.booking_date }}</td>
                <td>{{ order.reseller }}</td>
                <td>{{ order.customer}}</td>
                <td>{{ order.type}}</td>
                <td>{{ order.qty}}</td>
                <!--<td>{{order.cost_price}}</td>-->
                <td>{{order.selling_price}}</td>
                <td>{{ order.get_profit }}</td>
                <td>{{order.dealer_code}}</td>
                <td>{{order.tracking_id}}</td>
                <td>{{order.order_status}}</td>
                 <!--<td>{{order.modified}}</td>-->
                <td>
                    <!--<form action="{% url 'accounts:update_so' order.id %}" method="POST">-->
                    <p data-placement="top" data-toggle="tooltip" title="Edit">
                        <!--<button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"-->
                            <!--data-target="#edit" >-->
                            <a href="{% url 'accounts:update_so' order.id %}"  class="btn btn-primary btn-xs" role="button">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        <!--</button>-->
                    </p>
                    <!--</form>-->
                </td>
                <td>
                    <form action="{% url 'accounts:so_delete' order.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ order.id }}"/>
                        <!--<input type="submit" value="Delete"/>-->
                        <p data-placement="top" data-toggle="tooltip" title="Delete">
                            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" >
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </p>

                    </form>
                </td>
            </tr>

            {% endfor %}

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <!--<td>{{ cp }}</td>-->
                <td>{{ sp.selling_price__sum }}</td>

                <td>{{ profit }}</td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

                  </tbody>


                </table>

                           {% else %}

                    <p> No orders </p>
                    {% endif %}
              </div>

            </section>
          </div>
        </div>

{% if all_orders %}
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <nav aria-label="...">
                  <ul class="pagination">
                      {% if all_orders.has_previous %}
                      <li class="page-item" ><a class="page-link" href="{% url 'business:orders'  %}?page={{ all_orders.previous_page_number }}">Prev</a></li>
                      {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                      {% endif %}


                      {% for i in all_orders.paginator.page_range %}
                        {% if item_list.number == i %}
                            <li class="page-item active">
                                <a class="page-link" href="{% url 'business:orders'  %}?page={{ i }}">{{ i }}
                                 <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'business:orders'  %}?page={{ i }}">{{ i }}</a>
                        </li>
                        {% endif %}
                      {% endfor %}


                      {% if all_orders.has_next %}
                      <li class="page-item"><a class="page-link" href="{% url 'business:orders'  %}?page={{ all_orders.paginator.num_pages }}">Next</a></li>
                      {% else %}
                      <li class="page-item disabled">  <a class="page-link" href="#">Next</a>  </li>
                      {% endif %}
                  </ul>
                </nav>
            </div>
        </div>
    </div>

{% endif %}


{% endblock business-content %}


{% block javascript %}
<script>

    $(document).ready(function() {
        var url_string = window.location.href
        var url = new URL(url_string);
        var order_month = url.searchParams.get("ordermonth");
        console.log(order_month);

        if (!order_month){

            var today = new Date();
            var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];;
            var date = new Date();

            document.getElementById('date').innerHTML = months[date.getMonth()] + ' ' + date.getFullYear();
            order_month = date.getFullYear()+ '-' + (date.getMonth()+1);

        }

        document.getElementById('date').defaultValue = order_month;


        <!--$('#date').val('2018-11');-->

    });


    <!--$('#date').change(function() {-->
        <!--alert(window.location.href);-->
    <!--});-->

    </script>

{% endblock javascript %}