{% extends "business/index.html" %}

{% load static %}

{% block page-title %} LIST  {% endblock page-title %}

{% block breadcrumb %}

<ol class="breadcrumb" xmlns="http://www.w3.org/1999/html">
              <li><i class="fa fa-home"></i>
                <a href="index.html">Home</a></li>
              <li><i class="fa fa-laptop"></i>Reseller</li>
            </ol>

{% endblock breadcrumb %}


{% block business-content %}


    <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                List of Resellers
              </header>

              <table class="table table-striped table-advance table-hover">
                <tbody>


                  <tr>
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <td>Enter Reseller name</td>
                        <td>{{ form.reseller_name }} </td>
                        <td><input type="submit" value="Save Reseller" class="btn btn-info"/></td>
                    </form>
                  </tr>



                    <tr>
                    <th><i class="icon_table"></i> Sl. No.</th>
                    <th><i class="icon_profile"></i> Full Name</th>
                    <th><i class="icon_cogs"></i> Action</th>
                  </tr>

                  {% for reseller in resellers %}

                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{reseller.reseller_name}}</td>
                    <td>
                        <form action="{% url 'business:delete_reseller' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="reseller_id" value="{{ reseller.id }}"/>
                            <!--<input type="submit" value="Delete"/>-->
                             <a class="btn btn-success" name = "edit" href="{% url 'business:reseller' reseller.id %}"><i class="icon_pencil"></i></a>

                             <button type="submit" name = "delete" value="Delete" class="btn btn-danger">
                                 <i class="icon_close_alt2"></i>
                             </button>
                        </form>

                      <!--<div class="btn-group">-->
                        <!--<a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>-->
                        <!--<a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>-->
                        <!--<a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>-->
                      <!--</div>-->
                    </td>
                  </tr>

                {% endfor %}

              </tbody>
          </table>
        </section>
      </div>
    </div>


{% endblock business-content %}