{% extends 'stock/base.html' %}

{% load static %}

{% block content %}

<div class="span12">
	<div class="accordion" id="accordion2">


		{% if not user.is_authenticated %}
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse"
				   data-parent="#accordion2" href="#collapseOne">Checkout Options</a>
			</div>
			<div id="collapseOne" class="accordion-body in collapse">
				<div class="accordion-inner">
					<div class="row-fluid">
						<div class="span6">
							<h4>New Customer</h4>
							<p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
							<form action="#" method="post">
								<fieldset>
									<label class="radio" for="register">
										<input type="radio" name="account" value="register" id="register" checked="checked">Register Account
									</label>
									<label class="radio" for="guest">
										<input type="radio" name="account" value="guest" id="guest">Guest Checkout
									</label>
									<br>
									<button class="btn btn-inverse" data-toggle="collapse" data-parent="#collapse2">Continue</button>
								</fieldset>
							</form>
						 </div>
						 <div class="span6">
							<h4>Existing Customer</h4>
							<p>I am already a customer</p>
							<form  method="post" action="{% url 'cart:checkout' %}">
								{% csrf_token %}
								{% if form.errors %}
								<p>Your username and password didn't match. Please try again.</p>
								{% endif %}
										<input type="hidden" name="next" value="/cart/checkout">
								<fieldset>
									<div class="control-group">
										<label class="control-label">Username</label>
										<div class="controls">
											<input type="text" placeholder="Enter your username"
												   id="{{form.username.id_for_label}}"
												   name ="{{ form.username.name }}" class="input-xlarge">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">Password</label>
										<div class="controls">
										<!--<input type="password" placeholder="Enter your password" id="password" class="input-xlarge">-->
										<input type="password" placeholder="Enter your password"
						   					id="{{form.password.id_for_label}}"
						   						class="input-xlarge" name="{{ form.password.name }}">
										</div>
									</div>
										<button class="btn btn-info" type="submit">Continue</button>

								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>



		{% else %}



		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse"
				   data-parent="#accordion2" href="#collapseOne1">Login</a>
			</div>
			<div id="collapseOne1" class="accordion-body in collapse">
				<div class="accordion-inner">
					<div class="row-fluid">
						<div class="span6">
							{{ user.username }}
						 </div>
						 <div class="span6">
							<button class="btn btn-info">Change</button>
						</div>
					</div>
				</div>
			</div>
		</div>



		{% endif %}




		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse"
				   data-parent="#accordion2" href="#collapseTwo">Account &amp; Billing Details</a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="row-fluid">
						<div class="span6">
							<h4>Your Personal Details</h4>
							<div class="control-group">
								<label class="control-label">First Name</label>
								<div class="controls">
									<input type="text" placeholder="" class="input-xlarge">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Last Name</label>
								<div class="controls">
									<input type="text" placeholder="" class="input-xlarge">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Email Address</label>
								<div class="controls">
									<input type="text" placeholder="" class="input-xlarge">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Telephone</label>
								<div class="controls">
									<input type="text" placeholder="" class="input-xlarge">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Fax</label>
								<div class="controls">
									<input type="text" placeholder="" class="input-xlarge">
								</div>
							</div>
						</div>
						<div class="span6">
							<h4>Your Address</h4>
							<div class="control-group">
								<label class="control-label">Company</label>
								<div class="controls">
									<input type="text" placeholder="" class="input-xlarge">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Company ID:</label>
								<div class="controls">
									<input type="text" placeholder="" class="input-xlarge">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label"><span class="required">*</span> Address 1:</label>
								<div class="controls">
									<input type="text" placeholder="" class="input-xlarge">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Address 2:</label>
								<div class="controls">
									<input type="text" placeholder="" class="input-xlarge">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label"><span class="required">*</span> City:</label>
								<div class="controls">
									<input type="text" placeholder="" class="input-xlarge">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label"><span class="required">*</span> Post Code:</label>
								<div class="controls">
									<input type="text" placeholder="" class="input-xlarge">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label"><span class="required">*</span> Country:</label>
								<div class="controls">
									<select class="input-xlarge">
										<option value="1">Afghanistan</option>
										<option value="2">Albania</option>
										<option value="3">Algeria</option>
										<option value="4">American Samoa</option>
										<option value="5">Andorra</option>
										<option value="6">Angola</option>
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label"><span class="required">*</span> Region / State:</label>
								<div class="controls">
									<select name="zone_id" class="input-xlarge">
										<option value=""> --- Please Select --- </option>
										<option value="3513">Aberdeen</option>
										<option value="3514">Aberdeenshire</option>
										<option value="3515">Anglesey</option>
										<option value="3516">Angus</option>
										<option value="3517">Argyll and Bute</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse"
				   data-parent="#accordion2" href="#collapseThree">Confirm Order</a>
			</div>

			<div id="collapseThree" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="row-fluid">
						<div class="control-group">









								<table class="table table-striped">
		<thead>
			<tr>
				<th>Remove</th>
				<th>Image</th>
				<th>Product Name</th>
				<th>Quantity</th>
				<th>Unit Price</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for item in cart %}
				{% with product=item.product  %}
			<tr>
				<!--<td><input type="checkbox" value="option1"></td>-->
				<td>
					<a href="{% url 'cart:cart_remove' product.id %}">Remove</a>
				</td>
				<td>
					<a href="{{ product.item_image.url }}">
						<img src="{% if product.item_image %}
									{{ product.item_image.url }}
								{% else %}
									{% static 'img/default.jpg' %}
								{% endif %}" alt="..." style="height: 100px; width: 100px">
					</a>
					<!--<a href="product_detail.html">-->
						<!--<img alt="" src="themes/images/ladies/9.jpg">-->
					<!--</a>-->
				</td>
				<td>{{ product.item_name }}</td>
				<td>
					<form action="{% url 'cart:cart_add' product.id %}" method="post">
						{% csrf_token %}
						<input type="number" name="quantity" value="1" required=""
							   id="id_quantity" min="1" style="width:40px">
						<input type="hidden" name="update" value="True" id="id_update">
						<!--{{ item.update_quantity_form.quantity }}-->
						<!--{{ item.update_quantity_form.update }}-->
						<input type="submit" value="Update" class="btn btn-info" style="margin-top:-10px;">
					</form>
					<!--<input type="text" placeholder="1" class="input-mini">-->
				</td>
				<td>{{ item.price }}</td>
				<td>{{ item.total_price }}</td>
			</tr>

                    {% endwith %}
                {% endfor %}


			<tr>
				<td> <strong>Total</strong> </td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><strong>Rs.{{ cart.get_total_price }}</strong></td>
			</tr>
		</tbody>
	</table>







							<label for="textarea" class="control-label">Comments</label>
							<div class="controls">
								<textarea rows="3" id="textarea" class="span12"></textarea>
							</div>
						</div>
						<a href="{% url 'orders:order_create' %}">
							<button class="btn btn-inverse pull-right">Confirm order</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% block javascript %}
		<script src="themes/js/common.js"></script>
{% endblock %}
{% endblock %}