<div id="top-bar" class="container">
	<div class="row">
		<div class="span4">
			<form method="POST" class="search_form">
				<input type="text" class="input-block-level search-query"
					   Placeholder="Search ">
			</form>
		</div>
		<div class="span8">
			<div class="account pull-right">
				<ul class="user-menu">
					<li><a href="{% url 'accounts:my-account' %}">My Account</a></li>
					<li>
						<a href="{% url 'cart:cart_detail' %}">My Cart</a>
						{% with totail_items=cart|length %}
							{% if cart|length > 0 %}
								<a href="{% url 'cart:cart_detail' %}" style="color: #ffffff">
									<lavel id="cart-badge" class="badge badge-success">{{ totail_items }}</lavel>
								</a>
							{% else %}
						<lavel id="cart-badge" class="badge badge-success">0</lavel>

							{% endif %}
						{% endwith %}

						<span class="glyphicon glyphicon-shopping-cart">
						  <!--<span class="badge badge-notify">-->
							  <!--{% if cart|length > 0 %}{{ totail_items }} {% endif %}-->
						  <!--</span>-->
						</span>
					</li>
					<li><a href="{% url 'cart:checkout' %}">Checkout</a></li>

						{% if user.is_authenticated %}
    						<li>Welcome, {{ user.username }}</li>
							<li><a href="{% url 'logout' %}">Logout</a> </li>
						{% else %}
							<li>Welcome Guest</li>
							<li><a href="{% url 'home' %}">Login</a></li>
						{% endif %}

					<!--<li>-->
						<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
						  <!--<button class="btn btn-default btn-lg btn-link" style="font-size:36px;">-->
							<!--<span class="glyphicon glyphicon-shopping-cart"></span>-->
						  <!--</button>-->
						  <!--<span class="badge badge-notify">6</span>-->
						<!--&lt;!&ndash;</div>&ndash;&gt;-->
					<!--</li>-->


				</ul>
			</div>
		</div>
	</div>
</div>