{% load static %}

<div id="top-bar" class="container">
	<div class="row">
		<div class="span4">
			<form method="POST" class="search_form">
				<input type="text" class="input-block-level search-query"
					   Placeholder="Search ">
			</form>
		</div>
		<div class="span8">
			<div class="account pull-right">
				<ul class="user-menu">
					{% if user.is_authenticated %}
					<li><a href="{% url 'accounts:my_account' %}">My Account</a>

					</li>
					<li><a href="{% url 'accounts:profile' %}">My profile</a></li>
					<li><a href="{% url 'accounts:address' %}">My Addresses</a></li>
					{% endif %}
					<li>
						<a href="{% url 'cart:cart_detail' %}">My Cart</a>
						{% with totail_items=cart|length %}
							{% if cart|length > 0 %}
								<a href="{% url 'cart:cart_detail' %}" style="color: #ffffff">
									<lavel id="cart-badge" class="badge badge-success">{{ totail_items }}</lavel>
								</a>
							{% else %}
						<lavel id="cart-badge" class="badge badge-success">0</lavel>

							{% endif %}
						{% endwith %}

						<span class="glyphicon glyphicon-shopping-cart">
						  <!--<span class="badge badge-notify">-->
							  <!--{% if cart|length > 0 %}{{ totail_items }} {% endif %}-->
						  <!--</span>-->
						</span>
					</li>
					<li><a href="{% url 'cart:checkout' %}">Checkout</a></li>

						{% if user.is_authenticated %}
    						<li>Welcome, {{ user.username }}

							</li>
							<li><a href="{% url 'logout' %}">Logout</a> </li>
						{% else %}
							<li>Welcome Guest</li>
							<li><a href="{% url 'home' %}">Login</a></li>
						{% endif %}

					<!--<li>-->
						<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
						  <!--<button class="btn btn-default btn-lg btn-link" style="font-size:36px;">-->
							<!--<span class="glyphicon glyphicon-shopping-cart"></span>-->
						  <!--</button>-->
						  <!--<span class="badge badge-notify">6</span>-->
						<!--&lt;!&ndash;</div>&ndash;&gt;-->
					<!--</li>-->


				</ul>
			</div>
		</div>
	</div>
</div>




<!--<div id="top-bar" class="container">-->
	<!--<div class="row">-->
		<!--<div class="span4">-->
			<!--<a href="{% url 'stock:index' %}" class="logo pull-left">-->
				<!--<img src="{% static 'stock/img/vastrakala/logo.jpg' %}" class="site_logo" alt="">-->
			<!--</a>-->
		<!--</div>-->
		<!--<div class="span8">-->
			<!--<div class="account pull-right">-->
				<!--<ul>-->
					<!--<li><a href="{% url 'stock:products' 2 %}">Sarees</a>-->
						<!--<ul>-->
							<!--<li><a href="">Mahapor</a></li>-->
							<!--<li><a href="">Mooklin</a></li>-->
							<!--<li><a href="">Monica</a></li>-->
						<!--</ul>-->
					<!--</li>-->
					<!--<li><a href="{% url 'stock:products' 1 %}">Churidars</a></li>-->
						<!--<ul>-->
							<!--<li><a href="./products.html">Gifts and Tech</a></li>-->
							<!--<li><a href="./products.html">Ties and Hats</a></li>-->
							<!--<li><a href="./products.html">Cold Weather</a></li>-->
						<!--</ul>-->
					<!--</li>-->
					<!--<li><a href="{% url 'stock:products' 3 %}">Jewels</a></li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->