{% extends 'stock/base.html' %}

{% load static %}

{% block content %}


<div class="span9">
	<div class="row">
		<div class="span4">
			<img src="{% if object.item_image %} {{ object.item_image.url }}
                      {% else %} {% static 'img/default.jpg' %}
                      {% endif %}"
				 alt="{{ object.item_name}}" >




		</div>
		<div class="span5">
			<address>
				<strong>Name:</strong> <span>{{ object.item_name}}</span><br>
				<strong>Model:</strong> <span>{{ object.item_group}}</span><br>
				<strong>Product Code:</strong> <span>Product -{{object.id}}</span><br>
				<!--<strong>Reward Points:</strong> <span>0</span><br>-->
				<strong>Availability:</strong>
				{% if object.available %}
					<span>Available</span><br>
				{% else %}
					<span>Out of Stock</span><br>
				{% endif %}
			</address>
			<h4><strong>Price: Rs.{{object.price}}</strong></h4>
		</div>
		<div class="span5">
			<!--<form class="form-inline">-->
				<!--<label class="checkbox">-->
					<!--<input type="checkbox" value=""> Add to Wish list-->
				<!--</label>-->
				<!--<br/>-->
				<!--<label class="checkbox">-->
				  <!--<input type="checkbox" value=""> Email to a Friend-->
				<!--</label>-->
				<!--<p>&nbsp;</p>-->
				<!--<label>Qty:</label>-->
				<!--<input type="text" class="span1" placeholder="1">-->
				<!--<button class="btn btn-inverse" type="submit">Add to Cart</button>-->
			<!--</form>-->

			 <form action="{% url 'cart:cart_add' object.id %}" method="post">
				{% csrf_token %}

				 <!--ID:{{ object.id }}-->


				<label for="id_quantity">Quantity:</label>
				 <input type="number" name="quantity" value="1"
						required="" id="id_quantity" min="1" style="width:40px;">
				 <input type="hidden" name="update" value="False" id="id_update">
				 				<!--<button class="btn btn-inverse" type="submit">Add to Cart</button>-->

				<input type="submit" value="Add to Cart" style="margin-top:-10px;" class="btn btn-primary">

				<!--{{ cart_stock_form }}-->
				 				<!--<button class="btn btn-inverse" type="submit">Add to Cart</button>-->

				<!--<input type="submit" value="Add to Cart" style = "margin-top:-10px;" class="btn btn-primary">-->
             </form>
		</div>
	</div>
	<div class="row">
		<div class="span9">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#home">Description</a></li>
				<li class=""><a href="#profile">Additional Information</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="home">{{ object.description }}</div>
				<div class="tab-pane" id="profile">
					<table class="table table-striped shop_attributes">
						<tbody>
							<tr class="">
								<th>Size</th>
								<td>Large, Medium, Small, X-Large</td>
							</tr>
							<tr class="alt">
								<th>Colour</th>
								<td>Orange, Yellow</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="span9">
			<br>
			<h4 class="title">
				<span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
				<span class="pull-right">
					<a class="left button" href="#myCarousel-1" data-slide="prev"></a>
					<a class="right button" href="#myCarousel-1" data-slide="next"></a>
				</span>
			</h4>
			<div id="myCarousel-1" class="myCarousel carousel slide multi-item-carousel2">
				<div class="carousel-inner">
					{% for item in related_items %}
					<div class="item {% if forloop.counter == 1 %}active{% endif %}"
						id="slide{{ forloop.counter }}">
						<ul class="thumbnails"
						style="display:inline-block;vertical-align:middle">
						<!--<ul class="thumbnails listing-products">-->

							<li class="span2">
								<div class="product-box">
									<span class="sale_tag"></span>
									<a href="{% url 'stock:product-detail' item.id %}">
											<img src="{% if item.item_image %} {{ item.item_image.url }}
                      {% else %} {% static 'img/default.jpg' %}
                      {% endif %}" style="height:136px"
				 alt="{{ item.item_name}}"/>
									</a>

									<!--<br/>-->
									<!--<a href="product_detail.html" class="title">{{ item.item_name }}</a><br/>-->
									<!--<a href="#" class="category">{{ item.item_group}}</a>-->
									<!--<p class="price">Rs. {{ item.price }}</p>-->
								</div>
							</li>
						</ul>
					</div>
						{% endfor %}

					<!--<div class="item">-->
						<!--<ul class="thumbnails listing-products">-->
							<!--<li class="span3">-->
								<!--<div class="product-box">-->
									<!--<span class="sale_tag"></span>-->
									<!--<a href="product_detail.html"><img alt="" src="themes/images/ladies/1.jpg"></a><br/>-->
									<!--<a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>-->
									<!--<a href="#" class="category">Phasellus consequat</a>-->
									<!--<p class="price">$341</p>-->
								<!--</div>-->
							<!--</li>-->
							<!--<li class="span3">-->
								<!--<div class="product-box">-->
									<!--<a href="product_detail.html"><img alt="" src="themes/images/ladies/2.jpg"></a><br/>-->
									<!--<a href="product_detail.html">Praesent tempor sem</a><br/>-->
									<!--<a href="#" class="category">Erat gravida</a>-->
									<!--<p class="price">$28</p>-->
								<!--</div>-->
							<!--</li>-->
							<!--<li class="span3">-->
								<!--<div class="product-box">-->
									<!--<span class="sale_tag"></span>-->
									<!--<a href="product_detail.html"><img alt="" src="themes/images/ladies/3.jpg"></a><br/>-->
									<!--<a href="product_detail.html" class="title">Wuam ultrices rutrum</a><br/>-->
									<!--<a href="#" class="category">Suspendisse aliquet</a>-->
									<!--<p class="price">$341</p>-->
								<!--</div>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->


				</div>
			</div>
		</div>
	</div>
</div>



<div class="span3 col">
	<div class="block">
		<ul class="nav nav-list">
			<li class="nav-header">SUB CATEGORIES</li>
			{% for cat in item_groups %}
			<li class="{% if object.item_group == cat.group %} active {% endif %}">
				<a href="{% url 'stock:products' cat.id %}">{{ cat.group }} </a>
			</li>
			{% endfor %}
		</ul>
		<br/>
		<ul class="nav nav-list below">
			<li class="nav-header">MANUFACTURES</li>
			<li><a href="products.html">Adidas</a></li>
			<li><a href="products.html">Nike</a></li>
			<li><a href="products.html">Dunlop</a></li>
			<li><a href="products.html">Yamaha</a></li>
		</ul>
	</div>
	<div class="block">
		<h4 class="title">
			<span class="pull-left"><span class="text">Randomize</span></span>
			<span class="pull-right">
				<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
			</span>
		</h4>
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<div class="active item">
					<ul class="thumbnails listing-products">
						<li class="span3">
							<div class="product-box">
								<span class="sale_tag"></span>
								<a href="product_detail.html"><img alt="" src="themes/images/ladies/7.jpg"></a><br/>
								<a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>
								<a href="#" class="category">Suspendisse aliquet</a>
								<p class="price">$261</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="item">
					<ul class="thumbnails listing-products">
						<li class="span3">
							<div class="product-box">
								<a href="product_detail.html"><img alt="" src="themes/images/ladies/8.jpg"></a><br/>
								<a href="product_detail.html" class="title">Tempor sem sodales</a><br/>
								<a href="#" class="category">Urna nec lectus mollis</a>
								<p class="price">$134</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="block">
		<h4 class="title"><strong>Best</strong> Seller</h4>
		<ul class="small-product">
			<li>
				<a href="#" title="Praesent tempor sem sodales">
					<img src="themes/images/ladies/1.jpg" alt="Praesent tempor sem sodales">
				</a>
				<a href="#">Praesent tempor sem</a>
			</li>
			<li>
				<a href="#" title="Luctus quam ultrices rutrum">
					<img src="themes/images/ladies/2.jpg" alt="Luctus quam ultrices rutrum">
				</a>
				<a href="#">Luctus quam ultrices rutrum</a>
			</li>
			<li>
				<a href="#" title="Fusce id molestie massa">
					<img src="themes/images/ladies/3.jpg" alt="Fusce id molestie massa">
				</a>
				<a href="#">Fusce id molestie massa</a>
			</li>
		</ul>
	</div>
</div>

{% block javascript %}
		<script src="themes/js/common.js"></script>
		<script>
			$(function () {
				$('#myTab a:first').tab('show');
				$('#myTab a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
				})
			})
			$(document).ready(function() {
				$('.thumbnail').fancybox({
					openEffect  : 'none',
					closeEffect : 'none'
				});

				$('#myCarousel-2').carousel({
                    interval: 500
                });
			});
		</script>

<script>
// Instantiate the Bootstrap carousel
$('.multi-item-carousel2').carousel({
  interval: false
});

// for every slide in carousel, copy the next slide's item in the slide.
// Do the same for the next, next item.
$('.multi-item-carousel2 .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));

  if (next.next().length>0) {
    next.next().children(':first-child').clone().appendTo($(this));
  } else {
  	$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
  }
});
</script>

{% endblock %}


{% endblock %}


{% block css %}
<style>

<!--ul{-->
    <!--display: inline-block;-->
    <!--vertical-align: middle;-->
<!--}-->
</style>

{% endblock %}