{% extends 'stock/base.html' %}

{% load static %}

{% block content %}

<div class="span3">
	<h4 class="title"><span class="text"><strong>My</strong> Personal Data</span> </h4>
	<h5>My Addresses</h5>



<form method="post" action="{% url 'accounts:address' %}">
    {% csrf_token %}
    {{ address_form }}
    <br>
    <button class= "btn btn-info" type="submit" name="add_address">Add Adress</button>

</form>

</div>


<div class="span6 col">
    <div class="">
        <ul>
        {% for address in address_list %}
            <div class="well">
                <li>
                    <ol>{{ address.house_no}}</ol>
                    <ol>{{ address.city}}</ol>
                    <ol>{{ address.landmark}}</ol>
                    <ol>{{ address.district}}</ol>
                    <ol>{{ address.state}}</ol>
                    <ol>{{ address.country}}</ol>
                    <ol>{{ address.pincode}}</ol>
                    <ol>{{ address.mobile_number}}</ol>
                    <a href="">Edit</a> |
                    <a href="">Delete</a> |
                    <a href="">Set as Default</a>
                </li>
            </div>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="span3 col">
	<div class="block">
		<ul class="nav nav-list">
			<li class="nav-header">SUB CATEGORIES</li>
			<li><a href="products.html">Nullam semper elementum</a></li>
			<li class="active"><a href="products.html">Phasellus ultricies</a></li>
			<li><a href="products.html">Donec laoreet dui</a></li>
			<li><a href="products.html">Nullam semper elementum</a></li>
			<li><a href="products.html">Phasellus ultricies</a></li>
			<li><a href="products.html">Donec laoreet dui</a></li>
		</ul>
		<br/>
		<ul class="nav nav-list below">
			<li class="nav-header">MANUFACTURES</li>
			<li><a href="products.html">Adidas</a></li>
			<li><a href="products.html">Nike</a></li>
			<li><a href="products.html">Dunlop</a></li>
			<li><a href="products.html">Yamaha</a></li>
		</ul>
	</div>
	<div class="block">
		<h4 class="title">
			<span class="pull-left"><span class="text">Randomize</span></span>
			<span class="pull-right">
				<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
			</span>
		</h4>
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<div class="active item">
					<ul class="thumbnails listing-products">
						<li class="span3">
							<div class="product-box">
								<span class="sale_tag"></span>
								<a href="product_detail.html"><img alt="" src="themes/images/ladies/2.jpg"></a><br/>
								<a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>
								<a href="#" class="category">Suspendisse aliquet</a>
								<p class="price">$261</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="item">
					<ul class="thumbnails listing-products">
						<li class="span3">
							<div class="product-box">
								<a href="product_detail.html"><img alt="" src="themes/images/ladies/4.jpg"></a><br/>
								<a href="product_detail.html" class="title">Tempor sem sodales</a><br/>
								<a href="#" class="category">Urna nec lectus mollis</a>
								<p class="price">$134</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}